body {
  text-align: center;
  margin-top: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: serif; */
}

/* h2 {
  padding: 15px;
} */

.nav-bar {
  background-color: #b0adad;
  border-radius: 12px;
  padding: 10px;
  border: inset;
}

button {
  color: black;
  background-color: #d1e0e0;
  font-size: small;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
}

button:hover {
  background-color: gray;
  color: white;
}

.nav-link {
  color: black;
  background-color: #d1e0e0;
  font-size: small;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 15px;
}

.signup-link {
  color: black;
  background-color: #d1e0e0;
  font-size: medium;
  padding: 15px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  /* margin: 15px; */
}

.nav-link:hover {
  background-color: gray;
  color: white;
}

.home-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-groups {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}

.user-group {
  border: outset;
  border-color: #868ac2;
  display: flex;
  flex-direction: column;
  /* border-color: #3842cf; */
  padding: 15px;
  background-color: #c2c3d1;
}

.group-details {
  border: 1px solid #ccc;
  width: 100%;
  /* height: 10%; */
  display: inline-block;
  background-color: #efefef;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.message-box {
  /* display: inline-flex; */
  display: flex;
  justify-content: center;
  padding: 15px;
  height: auto;
  max-height: 50vh;
  /* width: 100%; */
  border: 1px solid #ccc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages {
  overflow-y: scroll;
  flex-direction: column;
  border: inset;
  /* width: 80%; */
  scroll-padding: 0 0 100%;
  scroll-snap-align: end;
  scroll-snap-type: y mandatory;
}

.active-users-sidebar {
  border: outset;
  padding: 15px;
  overflow: auto;
  width: 20%;
}

.active-users-sidebar p {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,214,78,1) 44%, rgba(0,212,255,1) 100%);
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px 5px 12px;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}


/* .msg-bottom {
  border-top: 1px solid #ccc;
  position: relative;
  height: 11%;
  background-color: rgb(239 239 239);
} */

.msg-bottom {
  border: 1px solid #ccc;
  border-radius: 20px;
  height: auto;
  background-color: #646464;
}

.input-group {
  border: none !important;
  border-radius: 20px !important;
  display: block;
  /* height: calc(2.25rem + 2px); */
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem; */
  /* line-height: 1.5; */
  color: #495057;
  background-color: #efefef;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* .input-group>.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
} */

.form-control {
  border: 1px solid black !important;
  border-radius: 20px !important;
  /* display: block; */
  /* height: calc(2.25rem + 2px); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
  background: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: b;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-weight: bold !important;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: solid !important;
  border-color: lightgray;
  box-shadow: none !important;
}

.old-messages {
  width: 57%;
}

.old-messages p {
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  /* margin-left: 1rem; */
  padding: 1rem;
  width: 100%;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
  p {
  overflow-wrap: break-word;
}

.new-messages p {
  background-color: #009900;
  /* background-color: #3a12ff; */
  /* background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%); */
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px 5px 12px;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.new-messages {
      float: right;
      width: 46%;
  }