body {
  text-align: center;
  margin-top: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: serif; */
}

.login-page {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 300px;
  text-align: center;
}

.login-title {
  margin-top: 0;
  width: 270px;
  line-height: 43px;
  font-size: 19px;
  font-weight: 500;
  color: #EEEEEE;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #d7604b;
  border-radius: 3px;
  background-color: #3290B1;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.login-form {
  margin: 0 auto;
  width: 230px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}

.login-input:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.login-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}

.login-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}

.login-button:focus {
  outline: 0;
}

.login-switch {
  height: 32px;
  margin-bottom: 15px;
  padding: 4px;
  background: #6db244;
  border-radius: 2px;
  background-color: #78A781;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.login-switch-input {
  display: none;
}

.login-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.login-switch-input:checked + .login-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}




.nav-bar {
  background-color: #b0adad;
  border-radius: 12px;
  padding: 10px;
  border: inset;
}

button {
  color: black;
  background-color: #d1e0e0;
  font-size: small;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
}

button:hover {
  background-color: gray;
  color: white;
}

.nav-link {
  color: black;
  background-color: #d1e0e0;
  font-size: small;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 15px;
}

.signup-link {
  display: inline-block;
  color: black;
  background-color: #d1e0e0;
  font-size: small;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
}

.nav-link:hover {
  background-color: gray;
  color: white;
}

.home-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-groups {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}

.user-group {
  border: outset;
  border-color: #868ac2;
  display: flex;
  flex-direction: column;
  /* border-color: #3842cf; */
  padding: 15px;
  background-color: #c2c3d1;
}

.group-details {
  border: 1px solid #ccc;
  width: 100%;
  /* height: 10%; */
  display: inline-block;
  background-color: #efefef;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.message-box {
  /* display: inline-flex; */
  display: flex;
  justify-content: center;
  padding: 15px;
  height: auto;
  max-height: 50vh;
  /* width: 100%; */
  border: 1px solid #ccc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages {
  overflow-y: scroll;
  flex-direction: column;
  border: inset;
  /* width: 80%; */
  scroll-padding: 0 0 100%;
  scroll-snap-align: end;
  scroll-snap-type: y mandatory;
}

.old-messages {
  width: 57%;
}

.old-messages p {
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  /* margin-left: 1rem; */
  padding: 1rem;
  width: 100%;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
  p {
  overflow-wrap: break-word;
}

.new-messages p {
  background-color: #009900;
  /* background-color: #3a12ff; */
  /* background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%); */
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px 5px 12px;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.new-messages {
      float: right;
      width: 46%;
}

.active-users-sidebar {
  border: outset;
  padding: 15px;
  overflow: auto;
  width: 20%;
}

.active-users-sidebar p {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,214,78,1) 44%, rgba(0,212,255,1) 100%);
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px 5px 12px;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}


/* .msg-bottom {
  border-top: 1px solid #ccc;
  position: relative;
  height: 11%;
  background-color: rgb(239 239 239);
} */

.msg-bottom {
  border: 1px solid #ccc;
  border-radius: 20px;
  height: auto;
  background-color: #b0adad;
}

.input-group {
  border: none !important;
  border-radius: 20px !important;
  display: block;
  /* height: calc(2.25rem + 2px); */
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem; */
  /* line-height: 1.5; */
  color: #495057;
  background-color: #efefef;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* .input-group>.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
} */

.form-control {
  border: 1px solid black !important;
  border-radius: 20px !important;
  /* display: block; */
  /* height: calc(2.25rem + 2px); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
  background: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: b;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-weight: bold !important;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: solid !important;
  border-color: lightgray;
  box-shadow: none !important;
}

.roster-form {
  margin: 20px;
}

.group-students {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ccc;
}

.visit-link {
  color: black;
  background-color: #d1e0e0;
  font-size: small;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
}