body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  color: black;
  background-color: #d1e0e0;
  font-size: medium;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: gray;
  color: white;
}

.nav-link {
  color: black;
  background-color: #d1e0e0;
  font-size: medium;
  padding: 15px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
}

.nav-link:hover {
  background-color: gray;
  color: white;
}

.user-group {
  border: inset;
  padding: 15px;
}

.message-box {
  display: inline-flex;
  padding: 15px;
  border: solid;
  /* height: 50vh; */
  height: auto;
  max-height: 50vh;
}

.messages {
  overflow: auto;
  border: inset;
  padding: 15px;
}

.active-users-sidebar {
  border: outset;
  padding: 15px;
  overflow: auto;
}

